/* Base setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-inter: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* Dark Navy Blue */
    --primary-color: #0F172A;
    /* Off-White */
    --text-color: #E2E8F0;
    /* Electric Blue */
    --accent-color: #00A3FF;
    /* Neon Pink */
    --highlight-color: #FF0080;
    /* Lime Green */
    --secondary-accent-color: #39FF14;
}

/* General Styles */
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-inter);
}

h1,
h2,
h3 {
    font-family: var(--font-inter);
    color: var(--text-color);

}

nav a {
    font-family: var(--font-inter);
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}


/* Navbar Styles */
nav {
    display: flex;
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-item {
    padding: 10px;
}

ul {
    list-style: none;
}

/* Neon Container */
.container {
    text-align: center;
    position: relative;
}

.neon-text {
    font-size: 3rem;
    font-weight: 700;
    color: var(--accent-color);
    text-shadow: 0 0 10px var(--accent-color), 0 0 20px var(--accent-color), 0 0 30px var(--accent-color), 0 0 40px var(--accent-color);
}

.neon-subtext {
    font-size: 1.5rem;
    color: var(--highlight-color);
    text-shadow: 0 0 10px var(--highlight-color), 0 0 20px var(--highlight-color), 0 0 30px var(--highlight-color), 0 0 40px var(--highlight-color);
}

.animation {
    position: absolute;
    top: 50%;
    right: -150px;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
}



/* Neon Effect on Mouse Hover */
a:hover {
    color: var(--secondary-accent-color);
}

/* Neon Cursor Effect */
body {
    cursor: url('path/to/your/cursor-image.png'), auto;
}





/* Page Entry Animation */
@keyframes pageLoad {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    animation: pageLoad 1s ease-in-out;
}