/* Base setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --font-inter: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* Dark Navy Blue */
    --primary-color: #0F172A;
    /* Off-White */
    --heading-color: #E2E8F0;
    /*text color*/
    --text-color: #94A3B8;
    /* Neon Pink */
    --highlight-color: #FF0080;
    /* Blue */
    --accent-color: #64ffda;
    ;
    /*lighter blue*/
    --light-accent: #5eead4;
    /*Even lighter accent*/
    --try-accent: rgb(0, 255, 217);
    --background-hover: rgba(255, 255, 255, 0.1);
    --inactive-text-color: rgba(148, 163, 184, 0.7);


    /* Font Size Variables with clamp() */
    --font-body: clamp(14px, 1vw + 1rem, 16px);
    /* Scaling between 14px and 16px */
    --font-h1: clamp(2.5rem, 5vw, 3rem);
    /* Scaling between 2.5rem and 3rem */
    --font-h2: clamp(2rem, 4vw, 2.2rem);
    /* Scaling between 2rem and 2.2rem */
    --font-h3: clamp(1.5rem, 3vw, 2rem);
    /* Scaling between 1.5rem and 2rem */
    --font-small: clamp(12px, 1vw, 14px);
    /* For smaller text like years */

}

/* General Styles */
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-inter);
    font-size: var(--font-body);
    overflow-x: hidden;
    margin-top: 0;
    width: 100%;
}

h1 {
    font-size: var(--font-h1);

}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}


h1,
h2,
h3 {
    font-family: var(--font-inter);
    color: var(--heading-color);
}


a {
    text-decoration: none;
}


/*Cursor*/

/* Custom Cursor with Radial Gradient */

.cursor {
    position: fixed;
    width: 600px;
    /* The size of the gradient */
    height: 600px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(29, 78, 216, 0.15), transparent 80%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    /* Optional, for visual effect on dark backgrounds */
    z-index: 1000;
    transition: transform 0.1s ease-in-out;
}

/* fadeinOpacity  for nav */
@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
        /* Start slightly below */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        /* Move into place */
    }
}

#personal-name,
.welcome-text,
.neon-subtext,
.animation {
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
}

#main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    z-index: 2;
    top: 0;
    transition: top 0.3s ease-in-out;
    animation: fadeInOpacity 3s ease forwards;
}

#branding-link {
    position: absolute;
    left: 1rem;
    top: 20px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--heading-color);
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

#branding-link:hover {
    color: #94e9d8;
    /* Slight hover effect */
    transform: scale(1.05);
    /* Subtle hover scale effect */
}



nav {
    position: relative;
    display: flex;
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.nav-right {
    padding-top: 1.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-button {
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    padding: 7px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 10px;
}

.resume-button:hover {
    background-color: #00ffff;
    color: #1b1b1b;
}

nav a:hover {
    color: var(--accent-color);

}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: inline-block;
    color: var(--heading-color);
    font-size: clamp(1rem, 2.5vw, 1.125rem);
    font-weight: 700;
    padding: 10px;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}



.nav-item:hover {
    transform: translateY(-3px);
}


main {
    margin: 0 auto;
    width: 1000px;
}

/* Intro */

.animation-left-text {
    display: flex;
    flex-direction: column;
}

.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 20px;
    width: 100%;
}



.animation {
    width: 300px;
    animation-delay: 0.8s;
}


.welcome-text {
    color: var(--accent-color);
    font-size: var(--font-h2);
    margin-bottom: 1rem;
    text-align: center;
    animation-delay: 0.6s;
}

#personal-name {
    font-size: clamp(3rem, 8vw, 5rem);
    animation-delay: 0.9s;
}

/* icons */
@keyframes rotateAndBack {
    0% {
        opacity: 0;
        transform: rotateY(0deg);
        /* Start with the icon */
    }

    30% {
        opacity: 1;
        transform: rotateY(180deg);
        /* Rotate to show the word */
    }

    60% {
        transform: rotateY(180deg);
        /* Hold the rotation to show the word */
    }

    100% {
        transform: rotateY(360deg);
        /* Rotate back to show the icon */
    }
}

/* Floating effect for icons applied to icon card*/
@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6px);
    }
}




/* Container for each floating icon */
.icon-card {
    width: 80px;
    opacity: 0;
    height: 80px;
    perspective: 4000px;
    display: inline-block;
    position: relative;
    animation: floatUpDown 3s ease-in-out infinite, fadeInOpacity 2s ease forwards;
    ;
}


.icon-card:nth-child(1) {
    animation-delay: .5s;
}

.icon-card:nth-child(2) {
    animation-delay: 1s;
}

.icon-card:nth-child(3) {
    animation-delay: 1.5s;
}

.icon-card:nth-child(4) {
    animation-delay: 2s;
}

.icon-card:nth-child(5) {
    animation-delay: 2.5s;
}

.icon-card:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Inner container to hold both front and back */
.flip-box-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* The icon (front) and the name (back) */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Front side - the icon */
.flip-box-front {
    background-color: transparent;
    z-index: 2;
}

/* Back side - the name */
.flip-box-back {
    background-color: transparent;
    transform: rotateY(180deg);
    color: var(--accent-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.flip-box-back a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 600;
}

.flip-box-back a:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

#stack-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.stack-icon {
    position: relative;
    width: 48px;
    height: 48px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#stack-icons img {
    filter: drop-shadow(0px 0px 4px rgb(16, 173, 165));
}


.neon-subtext {
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: var(--strong-accent);
    animation-delay: 1.2s;
}


/* Neon Container */
#intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}


/*About*/
#about {
    scroll-margin-top: 100px;
}


#about h2,
#timeline h2,
#projects h2 {
    position: relative;
    padding-left: 15px;
    font-weight: bold;
    color: var(--heading-color);
}

#about h2::before,
#timeline h2::before,
#projects h2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    /* Width of the left bar */
    background-color: var(--accent-color);
    /* Accent color for the bar */
    border-radius: 2px;
    /* To smooth the corners of the bar */
}




.about-main {
    margin-top: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-text {
    font-family: 'Inter', sans-serif;
    font-size: clamp(1rem, 1.7vw, 1.2rem);
    font-weight: 400;
    color: #94A3B8;
    line-height: 1.6;
    text-align: justify;
    letter-spacing: 0.01em;

}

#about-text p:not(:last-child) {
    margin-bottom: 20px;
}



#about-text b {
    color: var(--heading-color);
}




/* Underline effect */

#about-text a {
    position: relative;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}


#about-text a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}

#about-text a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}




.about-main img {
    align-self: flex-start;
    height: auto;
    width: 330px;
    margin-left: 60px;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 10px 20px rgba(72, 6, 255, 0.486);
}

.about-main img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(72, 6, 255, 0.8);

}



/* Experience */



/*timeline*/
#timeline {
    margin-top: 250px;
    scroll-margin-top: 100px;
}

ul,
ol {
    list-style: none;
}

#timeline-list {
    margin: 50px auto;
    width: 920px;
}

.timeline-item {
    display: flex;
    flex-direction: row;
    padding: 20px;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    border-radius: 8px;
    margin: 15px 0;
    color: var(--text-color);
    position: relative;
    z-index: 1;
    opacity: 0.8;
    align-items: flex-start;
}


.timeline-item:hover {
    background-color: rgba(148, 163, 184, 0.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.year-div {
    align-items: start;
    justify-content: center;
    display: flex;
    min-width: 120px;
    flex-direction: column;
}


.timeline-item .year {
    color: var(--inactive-text-color);
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}



.timeline-animation {
    width: 200px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    margin: 50px auto;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.timeline-item:hover .timeline-animation {
    opacity: 1;
    transform: scale(1);
}

.job-description .title {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 500;
    margin-bottom: .8rem;
    color: #ffffff;
}

/* Company link styles with hover effect */
.company-link {
    position: relative;
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

}

.company-link:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;

}

.company-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
}

.job-description {
    max-width: 600px;
    margin: 10px auto;
    flex: 1;
}

.job-description .description {
    margin-bottom: 1.5rem;
    font-size: 17px;
    color: var(--text-color);
}

.responsibilities-list {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.responsibilities-list li {
    font-size: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
    position: relative;
    color: var(--text-color);
}

/* Tech stack styles */
.tech-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.tech-list .tech-item {
    padding: .25rem .9rem;
    margin-top: .8rem;
    margin-right: .4rem;
    border-radius: 30px;
    background-color: rgb(45, 212, 191, .1);
    color: var(--accent-color);
    width: auto;
}



.job-description .description strong {
    color: var(--heading-color);
    font-weight: 600;
}



.responsibilities-list li::before {
    content: ">";
    color: var(--accent-color);
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 10px;
}


/* Project Section */
#projects {
    margin-top: 100px;
    scroll-margin-top: 100px;
}

.projects-grid {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.project-item {
    padding: 20px;
    background-color: #0a1b38;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.project-item a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}



.project-item:hover .project-image img {
    border-color: rgba(94, 234, 212, 0.5);
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.project-image {
    position: relative;
    display: flex;
    justify-content: center;

}

.project-image img {
    width: 100%;
    border-radius: 8px;
    height: 160px;
    object-fit: cover;
    transition: border-color 0.3s ease;
    border: 2px solid rgba(148, 163, 184, 0.1);
}

.project-header {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.project-header svg {
    margin-left: .4rem;
    width: 18px;
    height: 18px;
}

.project-item:hover svg {
    transform: translateY(-2px);
    color: var(--accent-color);
}

.project-link-wrapper {
    text-decoration: none;
    color: inherit;
}

.project-item:hover .project-title {
    color: var(--accent-color);
}

.project-title {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: bold;
}

.project-description {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.project-stack-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-stack-list li {
    background-color: #0c2c4a;
    color: var(--accent-color);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.general-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.general-footer p {
    font-size: clamp(0.6rem, 2vw, .8rem);
    font-style: italic;
}

.general-footer a {
    text-decoration: none;
    color: var(--heading-color);
}

/* responsive laptop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    nav {
        max-width: 100%;
    }

    .nav-right {
        margin-left: 28vw;
    }

}

/*responsive tablet/*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {


    main {
        width: 90%;
    }

    nav {
        max-width: 100%;
    }

    .nav-left {
        padding-left: 20px;
    }

    .nav-right {
        margin-left: 22vw;
    }



    #branding-link {
        margin-right: 20px;
    }

    .nav-item {
        font-size: 14px;
        padding: 8px 5px;
    }

    .nav-item svg {
        width: 16px;
    }
}