/* Base setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-inter: 'Inter', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* Dark Navy Blue */
    --primary-color: #0F172A;
    /* Off-White */
    --heading-color: #E2E8F0;
    /*text color*/
    --text-color: #94A3B8;
    /* Neon Pink */
    --highlight-color: #FF0080;
    /* Blue */
    --accent-color: #5eead4;
}

/* General Styles */
body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-inter);
    font-size: 16px;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: var(--font-inter);
    color: var(--heading-color);
}

h2 {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}


/*Cursor*/

/* Custom Cursor with Radial Gradient */

.cursor {
    position: fixed;
    width: 600px;
    /* The size of the gradient */
    height: 600px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(29, 78, 216, 0.15), transparent 80%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    /* Optional, for visual effect on dark backgrounds */
    z-index: 1000;
    transition: transform 0.1s ease-in-out;
    /* Smooth movement */
}




header {
    width: 100vw;
}

/* Navbar Styles */
nav {
    display: flex;
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a:hover {
    color: var(--accent-color);

}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-item {
    display: inline-block;
    color: var(--heading-color);
    font-weight: 700;
    padding: 10px;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
    transform: translateY(-3px);
}

ul {
    list-style: none;
}


main {
    margin: 0 auto;
    max-width: 1000px;
    width: 60%;
}

/* Neon Container */
#intro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* Glow Effect Background */
.glow-effect {
    position: relative;
    padding: 20px;
}

.glow-effect::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1200px;
    width: 70vw;
    height: 1000px;
    background: radial-gradient(circle, rgb(195, 112, 206), transparent 70%);
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    filter: blur(50px);
}

/*Inside Glow*/

.glow-effect h1 {
    font-size: 3rem;
}

.neon-subtext {
    font-size: 1.5rem;
}

.animation {
    width: 300px;
}



/* Neon Effect on Mouse Hover */

/* Page Entry Animation */
@keyframes pageLoad {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    animation: pageLoad 1s ease-in-out;
}

/*About*/
.about-main {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-text {
    font-size: 1.2rem;
    max-width: 650px;
}

#about-text a {
    font-weight: 600;
    color: var(--accent-color);
}

#about-text a:hover {
    font-weight: 600;
    color: var(--heading-color);
}

#about-text p {
    text-align: justify;
    margin-top: 15px;
}

.about-main img {
    height: auto;
    width: 330px;
    margin-left: 60px;
    border-radius: 30px;

}



/*just space*/

.space {
    height: 400px;
}